*.pyc
.*.swp
.*.swo
logs/*.txt
test/*
config.local.yml

/.fab
/.fab-production
/.fabstage
.DS_Store

ftp_temp
tds_temp
tds_catalogs
glider_dac/tests/data/
.pytest_cache
secrets/

.env
.venv/
activate

# ERDDAP datasets.xml, stores persistent changes and must be created by user manually
datasets.xml
