[submodule "documentation-theme-jekyll"]
	path = theme
	url = https://github.com/ioos/documentation-theme-jekyll
[submodule "_data/navbars_theme"]
	path = _data/navbars_theme
	url = https://github.com/ioos/documentation-theme-jekyll
	branch = navbars
[submodule "_wiki"]
	path = _wiki
	url = https://github.com/ioos/ioosngdac.wiki.git
