version: '3.3'

services:
  glider-dac-providers-app: &provider_anchor
    container_name: glider-dac-providers-app
    restart: always
    build: .
    ports:
      - 3000:5000
    volumes:
      - ./config.local.yml:/glider-dac/config.local.yml
    #  # - .:/glider-dac/  # For local development
      - log_volume:/glider-dac/logs
      - ./users.db:/glider-dac/users.db
    deploy:
      restart_policy:
        condition: always
    environment:
      - REDIS_HOST=redis

    depends_on:
      - mongo
      - redis

  glider-dac-worker:
    <<: *provider_anchor
    container_name: glider-dac-worker
    command: python glider_dac/worker.py
    ports: []

  glider-dac-watchdog:
    <<: *provider_anchor
    container_name: glider-dac-watchdog
    command: python glider_dac_watchdog.py
    ports: []
    # Update DATA_ROOT to point to ERDDAP directory
    environment:
      - DATA_ROOT=/data/data/priv_erddap
      - FLAGS_DIR=/scratch/tomcat-erddap-private/flag
      - REDIS_HOST=redis

  qartod_worker_1: &qartod
    build: .
    container_name: qartod_worker_1
    command: python /glider-dac/scripts/glider_qartod.py -w
    volumes:
      - /data/:/data
      - log_volume:/glider-dac/logs
    deploy:
      restart_policy:
        condition: always
    environment:
      REDIS_HOST: redis

  qartod_worker_2:
    <<: *qartod
    container_name: qartod_worker_2

  mongo:
    container_name: mongo
    image: mongo:4
    volumes:
      - mongo_storage:/data/db
      - mongo_config:/data/configdb
    deploy:
      restart_policy:
        condition: always

  # For John Kerfoot's new status page application -- move elsewhere if needed
  mysql:
    restart: unless-stopped
    image: mysql:8
    container_name: mysql
    environment:
        - MYSQL_RANDOM_ROOT_PASSWORD=yes
        - MYSQL_ONETIME_PASSWORD=yes
    ports:
        - 3306:3306
    volumes:
      - status_mysql:/var/lib/mysql
    deploy:
      restart_policy:
        condition: always

  # TODO: THREDDS and ERDDAP will need volume configurations
  thredds:
    container_name: thredds
    image: unidata/thredds-docker:5.3
    ports:
      - 8082:8080
    volumes:
      - /data:/data
      - ./docker_contrib/catalog.xml:/usr/local/tomcat/content/thredds/catalog.xml
      - ./docker_contrib/threddsConfig.xml:/usr/local/tomcat/content/thredds/threddsConfig.xml
      - thredds_cache:/usr/local/tomcat/content/thredds/cache
      - thredds_logs:/usr/local/tomcat/content/thredds/logs
    deploy:
      restart_policy:
        condition: always


  erddap:
    container_name: erddap
    image: axiom/docker-erddap:latest-jdk17-openjdk
    ports:
      - 8080:8080
    deploy:
      restart_policy:
        condition: always

  redis:
    container_name: redis
    restart: always
    image: redis
    volumes:
      - redis_data:/data
    deploy:
      restart_policy:
        condition: always

volumes:
  thredds_cache:
  thredds_logs:
  mongo_storage:
  mongo_config:
  redis_data:
  status_mysql:
  log_volume:
