{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block title %}Editing {{ user.username }}{% endblock %}

{% block page %}

<h3>Editing {{ user.username }}</h3>

  <div class="col-lg-6">
  <form name="user_edit" id="user_edit" method="POST" action="{{ action_path }}">
    {{ form.hidden_tag() }}
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.organization) }}
    {{ render_field(form.password, False, "If you do not want to change passwords, leave this blank.") }}
    {{ render_field(form.confirm) }}
    {{ form.submit(class_="btn btn-primary") }}
  </form>
</div>

{% endblock %}
