{% extends "layout.html" %}

{% block title %}Main{% endblock %}

{% block page %}

<div class="row">
  <div class="col-lg-8">
    <h3>Recent Uploads</h3>

    <table class="table table-bordered table-striped sortable">
      <thead>
        <tr>
          <th>Deployment</th>
          <th>File</th>
          <th data-defaultsort="desc">Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for f in files[0:10] %}
        <tr>
          <td class="col-lg-4"><a href="{{ url_for('show_deployment', username=f[0], deployment_id=f[4]._id) }}">{{ f[1] }}</a></td>
          <td class="col-lg-4">{{ f[2] }}</td>
          <td class="col-lg-4" data-value="{{ f[3] }}"><abbr title="{{ f[3] | datetimeformat }} UTC">{{ f[3] | prettydate }}</abbr></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Deployments</h3>
    <table class="table table-bordered table-striped sortable">
      <thead>
        <tr>
          <th data-defaultsort="asc">Deployment</th>
          <th>WMO ID</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
      {%- for m in deployments %}
      <tr>
        <td class="col-lg-4"><a href="{{ url_for('show_deployment_no_username', deployment_id=m._id) }}">{{ m.name }}</a></td>
        <td class="col-lg-4">{{ m.wmo_id }}</td>
        <td class="col-lg-4"><abbr title="{{ m.updated | datetimeformat }} UTC">{{ m.updated | prettydate }}</abbr></td>
      </tr>
      {%- endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-lg-4">
    <h3>At a Glance</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">{{ deployments | length }}</span>
        Deployments
      </li>
      <li class="list-group-item">
        <span class="badge">{{ files | length }}</span>
        Dives
      </li>
    </ul>

    <h3>Operators</h3>
    <ul class="list-group">
      {%- for u in operator_deployments %}
      {%- if u['_id'] %}
      <li class="list-group-item">
      <span class="badge">{{ u['count'] }} deployment{{ u['count']|pluralize('', 's')}}</span>
        <a href="{{ url_for('list_operator_deployments', operator=u['_id']) }}">
          {{ u['_id'] }}
        </a>
      </li>
      {%- endif %}
      {%- endfor %}
    </ul>

    <h3>Contributors</h3>
    <ul class="list-group">
      {%- for u in user_deployments %}
      <li class="list-group-item">
        <span class="badge">{{ u['count'] }} deployment{{ u['count']|pluralize('', 's')}}</span>
        {% if user_map.has_key(u['_id']) %}
        <a href="{{ url_for('list_user_deployments', username=user_map[u['_id']].username) }}">
          {{ user_map[u['_id']].name or user_map[u['_id']].username }}
        </a>
        {% else %}
        unknown
        {% endif %}
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>

{% endblock %}
