{% extends "layout.html" %}

{% block title %}Main{% endblock %}

{% block page %}

<div class="row">
  <div class="col-lg-8">
    <h3>Deployments</h3>
    <table class="table table-bordered table-striped sortable">
      <thead>
        <tr>
          <th data-defaultsort="asc">Deployment</th>
          <th>WMO ID</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
      {%- for m in deployments %}
      <tr>
        <td class="col-lg-4"><a href="{{ url_for('show_deployment_no_username', deployment_id=m._id) }}">{{ m.name }}</a></td>
        <td class="col-lg-4">{{ m.wmo_id }}</td>
        <td class="col-lg-4"><abbr title="{{ m.created | datetimeformat }} UTC">{{ m.created | prettydate }}</abbr></td>
      </tr>
      {%- endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-lg-4">
    <h3>Operators</h3>
    <ul class="list-group">
      {%- for u in operator_deployments %}
      {%- if u['_id'] %}
      <li class="list-group-item">
      <span class="badge">{{ u['count'] }} deployment{{ u['count']|pluralize('', 's')}}</span>
        <a href="{{ url_for('list_operator_deployments', operator=u['_id']) }}">
          {{ u['_id'] }}
        </a>
      </li>
      {%- endif %}
      {%- endfor %}
    </ul>

    <h3>Contributors</h3>
    <ul class="list-group">
      {%- for u in user_deployments %}
      <li class="list-group-item">
        <span class="badge">{{ u['count'] }} deployment{{ u['count']|pluralize('', 's')}}</span>
        {% if u['_id'] in user_map %}
        <a href="{{ url_for('list_user_deployments', username=user_map[u['_id']].username) }}">
          {{ user_map[u['_id']].name or user_map[u['_id']].username }}
        </a>
        {% else %}
        unknown
        {% endif %}
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>

{% endblock %}
