{% extends "layout.html" %}
{% block title %}Institutions{% endblock %}

{% block page %}

<div id="new-institution-form">
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="institution-name">Institution</label>
      <input type="text" class="form-control" id="institution-name" placeholder="Instutition Name">
    </div>
    <button type="submit" class="btn btn-default">New Institution</button>
  </form>
</div>

<div class="row">
  <div class="col-lg-8">
    <h3>Institutions</h3>
    <table class="table table-bordered table-striped sortable">
      <thead>
        <tr>
          <th>Institution</th>
          <th>Edit?</th>
        </tr>
      </thead>
      <tbody>
        {%- for inst in institutions %}
        <tr>
          <td>{{inst.name}}</td>
          <td>
            <a href="#">
              Edit
            </a>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
