{% extends "layout.html" %}
{% block title %}Institutions{% endblock %}

{% block page %}

<div id="new-institution-form">
  <form class="form-inline" method="POST" action="{{url_for('show_institutions')}}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name(placeholder="Institution Name", class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-default">New Institution</button>
  </form>
</div>

<div class="row">
  <div class="col-lg-8">
    <h3>Institutions</h3>
    <table class="table table-bordered table-striped sortable">
      <thead>
        <tr>
          <th>Institution</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {%- for inst in institutions %}
        <tr>
          <td>{{inst.name}}</td>
          <td>
            <a href="#">
              Edit
            </a>
          </td>
        </tr>
        {%- endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
