<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Glider DAC - {% block title %}{% endblock %}</title>
    {%- block javascript %}
    <script type="text/javascript" src="{{ url_for('.static', filename='js/jquery.min.js') }}" /></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap.js') }}" /></script>
    <script type="text/javascript" src="{{ url_for('.static', filename='js/moment.min.js') }}" /></script>
    {%- endblock %}
    {%- block css %}
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap.min.css') }}"></link>
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/glider-style.css') }}"></link>
    <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='css/bootstrap-sortable.css') }}"></link>
    {%- endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-img-brand" href="http://ioos.noaa.gov/">
            <img src="{{ url_for('.static', filename='img/ioos.png') }}" alt="IOOS Glider DAC" />
          </a>
          <a class="navbar-brand" href="http://data.ioos.us/gliders/providers/">
            Glider DAC v2
          </a>
        </div>
        <ul class="navbar-nav nav">
          {%- if current_user.is_active() %}
          <li><a href="{{ url_for('list_user_deployments', username=current_user.username) }}">Your Deployments</a></li>
          {%- endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {%- if current_user.is_active() %}
            {%- if current_user.is_admin() %}
            <li><p class="navbar-text"><a href="{{url_for('admin')}}"><span class="label label-success">ADMIN</span></a></p></li>
            {%- endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('edit_user', username=current_user.username) }}">Account</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
              </ul>
            </li>
          {%- else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
          {%- endif %}
        </ul>
      </div>
    </nav>

    <div class="container">
      {%- with messages = get_flashed_messages(with_categories=true) %}
        {%- if messages %}
          {%- for category, message in messages %}
            <div class="alert alert-{{ category }}">
              {{ message }}
            </div>
          {%- endfor %}
        {%- endif %}
      {%- endwith %}


      {%- block page %}{%- endblock %}

    </div>

    <script type="text/javascript" src="{{ url_for('.static', filename='js/bootstrap-sortable.js') }}" /></script>
  </body>
</html>
