{% macro render_field(field, static=False, help=None) %}
  <div class="form-group {{ "has-error" if field.errors }}">
    {% if field.label is defined %}
      <label for="{{ field.name }}" class="control-label">
        {{ field.label }}
        {% if field.errors %}
          <ul class=errors>
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      </label>
    {% endif %}
    {% if static %}
      <p class="form-static-control">{{ field.object_data or "&nbsp;"|safe }}</p>
    {% else %}
      {{ field(class_="form-control", **kwargs)|safe }}
    {% endif %}
    {% if help %}
      <span class="help-block">{{ help }}</span>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_boolean(field, static=False, title='') %}
  <div class="form-group">
    {% if static %}
    {{ field(disabled=True, **kwargs)|safe }}
    {% else %}
    {{ field(**kwargs)|safe }}
    {% endif %}

    {% if field.label is defined %}
      <label for="{{ field.name }}" title="{{ title }}"" class="control-label">
        {{ field.label }}
      {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      </label>
    {% endif %}
  </div>
{% endmacro %}


