{% extends "layout.html" %}

{% block title %}{{ operator }}'s deployments{% endblock %}

{% block page %}

<h3>Deployments for {{ operator }}</h3>

<div class="">
  <table class="table table-striped sortable">
    <thead>
      <tr>
        <th data-defaultsort='asc'>Deployment</th>
        <th>Contributor</th>
        <th>WMO ID</th>
        <th>Attribution</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
    {%- for m in deployments %}
    <tr>
      <td><a href="{{ url_for('deployment.show_deployment', username='none', deployment_name=m.name) }}">{{ m.name }}</a></td>
      <td><a href="{{ url_for('deployment.list_user_deployments', username=m.username) }}">{{ m.username }}</a></td>
      <td>{{ m.wmo_id }}</td>
      <td>{{ m.attribution }}</td>
      <td data-value="{{ m.updated }}"><abbr title="{{ m.updated | datetimeformat }} UTC">{{ m.updated | prettydate }}</abbr></td>
    </tr>
    {%- endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
