{% from "macros.html" import render_field, render_boolean %}
{% extends "layout.html" %}

{% block title %}{{ deployment.name }}{% endblock %}

{% block page %}

<div id="deployment-error" class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <span></span>
</div>


<h3>
  Deployment: {{ deployment.name }}
</h3>

<div class="col-lg-8">

  {% if editable %}

  <br />
  <br />
  <br />

  <div id="dropbox">
    <div id="dropbox-error" class="alert alert-danger">

    </div>

    <p>Drop files here to upload</p>

    <div class="progress">
      <div class="progress-bar" style="width:0%">
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });

    $(function() {
      var drop = $('#dropbox');

      drop.on('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
      });

      drop.on('dragenter', function(e) {
        e.preventDefault();
        e.stopPropagation();

        $(this).addClass('hovered');
      });

      drop.on('dragleave', function(e) {
        $(this).removeClass('hovered');
      });

      drop.on('drop', function(e) {
        // prevent browser from just displaying file
        e.preventDefault();
        e.stopPropagation();

        // do not allow more than one upload event going on at once or no need for empty file list
        if ($(this).hasClass('uploading') || e.originalEvent.dataTransfer.files.length == 0) {
          return;
        }

        $(this).removeClass('hovered');

        var formData = new FormData();
        var filenames = [];

        for (var i = 0; i < e.originalEvent.dataTransfer.files.length; i++) {
          var f = e.originalEvent.dataTransfer.files[i];
          filenames.push(f.name);

          formData.append('file-' + i, f);
        }

        // check to see if there are any upcoming overwrites
        var idx = {{ 1 if editable else 0 }};   // set by jinja
        var replaces = filenames.filter(function(i, e) {
          var exist = $('#deployment-files tbody tr td:contains("' + i + '")');
          return exist.length > 0;
        });

        if (replaces.length > 0) {
          if (!confirm("The following file(s) would be replaced by this upload: \n\n" + replaces.join("\n"))) {
            return;
          }
        }

        $(this).addClass('uploading');

        var url = "{{ url_for('post_deployment_file', username=username, deployment_id=deployment._id) }}";

        var req = $.ajax({
          xhr: function() {
            var x = jQuery.ajaxSettings.xhr();
            x.upload.addEventListener('progress', function(evt) {

              if (evt.lengthComputable) {
                var pct = evt.loaded / evt.total * 100;
                $('.progress-bar').attr('style', 'width:' + pct + '%;');
              };
            }, false);
            return x;
          },
          type: 'POST',
          cache: false,
          contentType: false,
          processData: false,
          url: url,
          data: formData,
        });

        req.always(function() {
          drop.removeClass('uploading');
        });

        req.fail(function(jqxhr, textStatus, error) {
          $('#dropbox-error').fadeIn(250).text("Could not upload file: " + error);
        });

        req.done(function(data) {
          // remove any rows that we replaced already
          replaces.forEach(function(v) {
            $('#deployment-files tbody tr td:contains("' + v + '")').parents('tr').remove();
          });

          $('tbody').prepend(data);
        });

      });
    });

    $(function() {

      $('#deployment-files tbody').on('click', 'input[type="checkbox"]', function(e) {
        e.stopPropagation();
      });

      // click row to toggle checkbox
      $('#deployment-files tbody').on('click', 'tr', function() {
        var cb = $('input[type="checkbox"]', this);
        cb.prop('checked', !cb.prop('checked'));
        cb.change();
      });

      // checkbox toggle enables/disables delete button, highlight row
      $('#deployment-files tbody').on('change', 'input[type="checkbox"]', function() {

        $(this).parents('tr').toggleClass('warning');

        // enabled/disabled tied to any of them selected
        updateDeleteBtnState();
      });

      function updateDeleteBtnState() {
        if ($('#deployment-files input[type="checkbox"]:checked').length == 0) {
          $('#delete-files').attr('disabled', 'disabled');
        } else {
          $('#delete-files').removeAttr('disabled');
        }
      }

      // button in thead toggles all checkboxes
      $('#deployment-files thead input[type="checkbox"]').on('change', function() {
        var cur = $(this).prop('checked');

        if (cur) {
          var all = $('#deployment-files tbody input[type="checkbox"]').not(':checked');
        } else {
          var all = $('#deployment-files tbody input[type="checkbox"]:checked');
        }
        all.prop('checked', cur);
        all.change();
      });

      // delete button functionality
      $('#delete-files').on('click', function() {
        // get list of files to click

        var sel = $('#deployment-files tbody input:checked');

        var files = sel.parents('td').next('td').map(function(n, el) { return el.innerText; }).get();
        if (!files.length) { return; }

        if (confirm("Are you sure you want to delete " + files.length + " file(s)?")) {
          var btn = $(this);
          btn.button('loading');

          var url = "{{ url_for('delete_deployment_files', username=username, deployment_id=deployment._id) }}";
          var req = $.ajax({
            type: 'POST',
            url: url,
            data: JSON.stringify({files:files}),
            contentType: 'application/json;charset=UTF-8',
          });

          req.done(function() {
            sel.parents('tr').remove();
          });

          req.fail(function(jqxhr, textStatus, error) {
            $('#deployment-error').fadeIn(100);
            $('#deployment-error span').text("Could not delete: " + error);
          });

          req.always(function() {
            btn.button('reset');
            // ensure button is in correct disabled state
            setTimeout(updateDeleteBtnState, 1);  // UGLY but have to due to .button() above doing the same
          });
        }
      });
    });
  </script>

  {% endif %}

  <h3>Compliance Check Report</h3>
  {% set report_passed = deployment.compliance_check_passed %}
  {% if report_passed is undefined %}
    <p>Compliance check report has not run yet</p>
  {% else %}
    {% set standard_name_errors = [] %}
    {% for err in deployment.compliance_check_report.high_priorities %}
       {% if err.name == "Standard Names" %}
       {# Hack.  Move to models or elsewher if logic becomes more complicated #}
       {{ standard_name_errors.extend(err["msgs"]) or "" }}
       {% endif %}
    {% endfor %}
    {% if not standard_name_errors %}
    <p>CF standard name checks passed</p>
    {% else %}
    <p>CF standard name errors must be fixed prior to NCEI archival:</p>
    <ul>
    {% for standard_name_message in standard_name_errors %}
      <li>{{standard_name_message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
  {% endif %}
  <h3>
    {%- if editable %}
    <button id="delete-files" class="pull-right btn btn-danger btn-xs" disabled="disabled" data-loading-text="Deleting...">Delete Selected</button>
    {% endif %}
    Files
  </h3>

  <table id="deployment-files" class="table table-striped {{ "editable" if editable }} sortable">
    <thead>
      <tr>
        {% if editable %}
        <th data-defaultsort='disabled'><input type="checkbox" /></th>
        {% endif %}
        <th>File</th>
        <th data-defaultsort='desc'>Modified</th>
      </tr>
    </thead>
    <tbody>
    {% include '_deployment_files.html' %}
    </tbody>
  </table>
</div>

<div class="col-lg-4">

  <h3>Services</h3>

  <ul class="list-group">
    <li class="list-group-item">
      <a href='{{deployment.erddap}}'>ERDDAP</a>
    </li>
    <li class="list-group-item">
      <a href='{{deployment.thredds}}'>THREDDS</a>
    </li>
    <li class="list-group-item">
      <a href='{{deployment.dap}}'>DAP</a>
    </li>
    <li class="list-group-item">
      <a href='{{deployment.sos}}'>SOS</a>
    </li>
    <li class="list-group-item">
      <a href='{{deployment.iso}}'>ISO</a>
    </li>
  </ul>

  {% if editable %}
  <hr />
  <h3>Edit</h3>
  {% endif %}

  <form name="deployment_edit" id="deployment_edit" method="POST" action="{{ url_for('edit_deployment', username=username, deployment_id=deployment._id) if editable}}">
    {{ form.hidden_tag() }}
    {{ render_field(form.operator, not editable) }}
    {{ render_field(form.attribution, not editable) }}
    {{ render_boolean(form.completed, not editable) }}
    {{ render_boolean(form.archive_safe, not editable) }}
    {% if editable %}
    {{ form.submit(class_="btn btn-primary") }}
    {% endif %}
  </form>

  {% if admin %}

  <hr />

  <h3>Admin</h3>
  <form method="POST" action="{{ url_for('delete_deployment', username=username, deployment_id=deployment._id) }}">
    {{ form.hidden_tag() }}
    <button class="btn btn-danger">Delete Deployment</button>
  </form>

  {% endif %}

</div>


{% endblock %}
