{% extends "layout.html" %}

{% block title %}{{ username }}'s deployments{% endblock %}

{% block page %}

<h3>Deployments for {{ username }}</h3>

{% if form %}

<div id="new-deployment-form" class="" style="">
  <form class="form form-inline" style="margin:0px;" method="POST" action="{{ url_for('new_deployment', username=username) }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.glider_name(placeholder="Glider Name", class_="form-control") }}
    </div>
    <div class="form-group">
      {{ form.deployment_date(placeholder="YYYY-MM-DDTHH:mmZ", class_="form-control datepicker") }}
    </div>
    <div class="form-group">
      {{ form.wmo_id(placeholder="WMO ID (optional)", class_="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary" disabled="disabled"><span class="glyphicon glyphicon-plus"></span> New Deployment</button>
  </form>
</div>

<script type="text/javascript">
$(function() {
  var gliderNameDfd = $.Deferred();
  var dateDfd = $.Deferred();
  $('#new-deployment-form input[name="glider_name"]').on('input', function (e) {
    gliderNameDfd.resolve();
  });
  $('#new-deployment-form input[name="deployment_date"]').on('input', function (e) {
    dateDfd.resolve();
  });
  $.when(gliderNameDfd, dateDfd).done(function() {
    var btn = $('#new-deployment-form button');
    btn.prop('disabled', false);
  });
});
</script>
<br/>
{% endif %}

<div class="">
  <table class="table table-striped sortable">
    <thead>
      <tr>
        <th data-defaultsort='asc'>Deployment</th>
        <th>Operator</th>
        <th>WMO ID</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
    {%- for m in deployments %}
    <tr>
      <td><a href="{{ url_for('show_deployment', username=username, deployment_id=m._id) }}">{{ m.name }}</a></td>
      <td>{% if m.operator %}<a href="{{ url_for('list_operator_deployments', operator=m.operator) }}">{{ m.operator }}{% endif %}</a></td>
      <td>{{ m.wmo_id }}</td>
      <td data-value="{{ m.updated }}"><abbr title="{{ m.updated | datetimeformat }} UTC">{{ m.updated | prettydate }}</abbr></td>
    </tr>
    {%- endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
