tr.hilite>td {
  background-color: #efefef !important;
  color: #565c61;
}

/* override some bootstrap colors/styles */

.btn-success {
  background-color: #ffa855;
  border-color: #ef7825;
}

.btn-success:hover {
  background-color: #ffcf8d;
  border-color: #ffa855;
}

.navbar {
  border-bottom: 5px solid #9fabb7;
  background-color: #efefef;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #9fabb7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #9fabb7;
}

.navbar-img-brand {
  float: left;
}

.navbar-img-brand img {
  height: 45px;
  padding-right: 20px;
  padding-top: 3px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #9fabb7;
}

.well {
  background-color: #efefef;
  color: #565c61;
}

a {
  color: #567ebb;
}

#dropbox {
  color: #ccc;
  border: 5px dotted #ccc;
  margin-bottom: 20px;
}

#dropbox p {
  margin: 20px;
}

#dropbox #dropbox-error {
  display: none;
}

#dropbox.hovered {
  border-color: #000;
  color: #000;
}

#dropbox .progress {
  display: none;
  margin-bottom: 0px;
}

#dropbox.uploading {
  border-color: white;
}

#dropbox.uploading .progress {
  display: block;
}

#dropbox.uploading p {
  display: none;
}

#deployment-files.editable tbody tr {
  cursor: pointer;
}

#deployment-error {
  display: none;
}

.security-form {
  max-width: 420px;
  margin-bottom: 30px;
}

.security-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.security-form .fs-div {
  margin-bottom: 15px;
}

.security-form .fs-div > label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.security-form input[type="email"],
.security-form input[type="password"],
.security-form input[type="text"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.security-form input[type="email"]:focus,
.security-form input[type="password"]:focus,
.security-form input[type="text"]:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
              0 0 8px rgba(102, 175, 233, .6);
}

.security-form input[type="submit"] {
  display: inline-block;
  padding: 6px 12px;
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #2e6da4;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  cursor: pointer;
}

.security-form input[type="submit"]:hover,
.security-form input[type="submit"]:focus {
  background-color: #286090;
  border-color: #204d74;
}

.security-form .fs-error-msg {
  color: #a94442;
}
