tr.hilite>td {
  background-color: #efefef !important;
  color: #565c61;
}

/* override some bootstrap colors/styles */

.btn-success {
  background-color: #ffa855;
  border-color: #ef7825;
}

.btn-success:hover {
  background-color: #ffcf8d;
  border-color: #ffa855;
}

.navbar {
  border-bottom: 5px solid #9fabb7;
  background-color: #efefef;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #9fabb7;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  background-color: #9fabb7;
}

.navbar-img-brand {
  float: left;
}

.navbar-img-brand img {
  height: 45px;
  padding-right: 20px;
  padding-top: 3px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #9fabb7;
}

.well {
  background-color: #efefef;
  color: #565c61;
}

a {
  color: #567ebb;
}

#dropbox {
  color: #ccc;
  border: 5px dotted #ccc;
  margin-bottom: 20px;
}

#dropbox p {
  margin: 20px;
}

#dropbox #dropbox-error {
  display: none;
}

#dropbox.hovered {
  border-color: #000;
  color: #000;
}

#dropbox .progress {
  display: none;
  margin-bottom: 0px;
}

#dropbox.uploading {
  border-color: white;
}

#dropbox.uploading .progress {
  display: block;
}

#dropbox.uploading p {
  display: none;
}

#deployment-files.editable tbody tr {
  cursor: pointer;
}

#deployment-error {
  display: none;
}
