{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block page %}

<h1>Glider Missions</h1>

<form class="form form-inline" style="margin:0px;" method="POST" action="{{ url_for('create_user') }}">
  {{ form.hidden_tag() }}
  {{ render_field(form.username) }}<br />
  {{ render_field(form.password) }}<br />
  {{ render_field(form.confirm) }}<br />
  {{ render_field(form.name) }}<br />
  {{ render_field(form.email) }}<br />
  {{ render_field(form.organization) }}<br />
  {{ form.submit }}
</form>


{%- for user in users %}
<h4><a href="{{ url_for('show_mission', username=username, mission_id=mission._id) }}">{{ mission.name }}</a> <small>WMO ID: {{ mission.wmo_id }}</small></h4>
<dl>
  <dt>Last Updated</dt>
  <dd>{{ mission.updated | datetimeformat }}</dd> 
</dl>
{%- endfor %}

{% endblock %}

