{% from "macros.html" import render_field %}
{% extends "layout.html" %}

{% block page %}

<h1>{{ user.username }}</h1>

  <div class="col-lg-6">
  <form name="user_edit" id="user_edit" method="POST" action="{{ request.path }}">
    {{ form.hidden_tag() }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.organization) }}
    {{ form.submit(class_="btn btn-default") }}
  </form>
</div>

{% endblock %}
