{% extends "layout.html" %}

{% block title %}Main{% endblock %}

{% block page %}

<div class="row">
  <div class="col-lg-8">
    <h3>Recent Updates</h3>

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Mission</th>
          <th>File</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for f in files[0:10] %}
        <tr>
          <td>{{ f[0] }}</td>
          <td><a href="{{ url_for('show_mission', username=f[0], mission_id=f[4]._id) }}">{{ f[1] }}</a></td>
          <td>{{ f[2] }}</td>
          <td><abbr title="{{ f[3] | datetimeformat }} UTC">{{ f[3] | prettydate }}</abbr></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3>Missions</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Mission</th>
          <th>WMO ID</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
      {%- for m in missions %}
      <tr>
        <td><a href="{{ url_for('show_mission_no_username', mission_id=m._id) }}">{{ m.name }}</a></td>
        <td>{{ m.wmo_id }}</td>
        <td><abbr title="{{ m.updated | datetimeformat }} UTC">{{ m.updated | prettydate }}</abbr></td>
      </tr>
      {%- endfor %}
      </tbody>
    </table>
  </div>

  <div class="col-lg-4">
    <h3>At a Glance</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">{{ missions | length }}</span>
        Missions
      </li>
      <li class="list-group-item">
        <span class="badge">{{ files | length }}</span>
        Dives
      </li>
    </ul>

    <h3>Operators</h3>
    <ul class="list-group">
      {%- for u in operator_missions %}
      {%- if u['_id'] %}
      <li class="list-group-item">
        <span class="badge">{{ u['count'] }} missions</span>
        <a href="{{ url_for('list_operator_missions', operator=u['_id']) }}">
          {{ u['_id'] }}
        </a>
      </li>
      {%- endif %}
      {%- endfor %}
    </ul>

    <h3>Contributors</h3>
    <ul class="list-group">
      {%- for u in user_missions %}
      <li class="list-group-item">
        <span class="badge">{{ u['count'] }} missions</span>
        {% if user_map.has_key(u['_id']) %}
        <a href="{{ url_for('list_user_missions', username=user_map[u['_id']].username) }}">
          {{ user_map[u['_id']].name or user_map[u['_id']].username }}
        </a>
        {% else %}
        unknown
        {% endif %}
      </li>
      {%- endfor %}
    </ul>
  </div>
</div>

{% endblock %}
