name: Check Markdown links

on:
  pull_request:
  push:
    branches:
      - gh-pages

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v6.0.0
      with:
        fetch-depth: 0

    - name: Check file existence
      id: check_files
      uses: andstor/file-existence-action@v3
      with:
        files: "_docs"

    - name: Check links
      if: steps.check_files.outputs.files_exists == 'true'
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        config-file: '.mlc_config.json'
        file-path: './README.md'
        folder-path: '_docs/'
